<div class="container">
    <div id="homeCarrucel" class="carousel slide carousel-fade " data-bs-ride="carousel" data-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../assets/vets1.jpeg" class="d-block w-100" alt="image1">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../assets/vets2.jpeg" class="d-block w-100" alt="image2">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../assets/vets4.jpeg" class="d-block w-100" alt="image4">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarrucel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarrucel" data-bs-slide="next" id="nextBTN">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
